<!-- Main Content Start -->
<section id="main-content">
    <section class="wrapper">
        <!-- row start -->
        <div class="row mt">
            <div class="col-md-12">
                <!-- content-panel start -->
                <div class="content-panel">
                    <table class="table table-striped table-advance table-hover">
                        <h4>
                            <i class="fa fa-angle-right"></i>&nbsp;Messages</h4>
                        <hr>
                        <thead>
                            <tr>
                                <th>
                                    <i class="fa fa-user"></i> Sender</th>
                                <th class="hidden-phone">
                                    <i class="fa fa-envelope-o"></i> Message</th>
                                <th>
                                    <i class="fa fa-clock-o"></i> Date Received</th>
                                <th>
                                    <i class="fa fa-edit"></i> Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="message in msgCtrl.messages | orderBy: -dateCreated">
                                <td>
                                    <a ui-sref="admin.messages.detail({id:message._id})">
                                        {{message.name}}
                                    </a>
                                </td>
                                <td class="hidden-phone">{{message.message}}</td>
                                <td>{{message.dateCreated | date: 'short' }}</td>
                                <td>
                                    <span class="label label-success label-mini" ng-show="message.isUnread">Unread</span>
                                    <span class="label label-default label-mini" ng-show="!message.isUnread">Read</span>
                                </td>
                                <!-- buttons -->
                                <td>
                                    <!-- edit -->
                                    <button class="btn btn-primary btn-xs pull-right btn-margin">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                    <!-- delete -->
                                    <button class="btn btn-danger btn-xs pull-right btn-margin" ng-click="msgCtrl.delete($index)">
                                        <i class="fa fa-trash-o "></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /content-panel end -->
            </div>
        </div>
        <!-- /row end-->
    </section>
</section>
<!-- Main Content End -->

